
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    body {
      background-color: #141414;
      color: white;
      overflow-x: hidden ;
    }

    .navbar-brand{
        border: 1px solid red;
        padding: 6px 16px !important;
        border-radius: 5px;
    }

     .navbar-brand:hover{
        border: 1px solid red;
        padding: 6px 16px !important;
        border-radius: 5px;
        background: linear-gradient(to right, black, black ,rgba(255,0,0, 0.8),) !important;
        color: white !important;
    }

    .navbar {
      background-color: rgba(0,0,0,0.76);
      position: sticky;
    }

    .nav-link{
        color: #ffffff;
        margin:5px 8px;
        background-color: rgb(0, 0, 0);
        border-radius: 12px !important;
        padding: 6px 16px !important;
        align-items: center !important;
    }

    .nav-link:hover{
        margin:5px 8px;
        color: #ffffff;
        background-color: red;
        border-radius: 12px !important;
        padding: 6px 16px !important;
        transition: all 0.2s ease-in-out;
    }

    .navbar-nav{
    flex-wrap:nowrap;
    }

    .active{
         margin:5px 8px;
        color: #ffffff !important;
        background-color: red;
        border-radius: 12px !important;
        padding: 6px 16px !important;
    }

      .searchBox{
      max-width:250px;
      width:100%;
      position: relative;
    }

    .searchDropdown {
       position: absolute;
       top: 100%;
       right: 0;
       width: 250px;
       background-color: #2222;
       border-radius: 8px;
       z-index: 2000;
       display: none;
       max-width: 350px;
       overflow-y: auto;
    }

    .search-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.search-item:hover{
    background: #333;
}

.search-item img{
    width: 40px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}




    @media(max-width:992px){

      .navbar-nav{
          text-align:center;
          margin-top:15px;
          flex-wrap:wrap;
      }

      .nav-link{
          margin:8px 0;
      }

      .searchBox{
          max-width:100%;
          margin-top:10px;
      }

    }

    /* .banner-container{
        
        position: relative;
        background-position: center;
        background-size: cover;
        color: white;
        height: 70vh;
        cursor: pointer;
    } */

    .banner-container{
    position: relative;
    height: 70vh;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.banner-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        #141414 5%,
        rgba(20,20,20,0.3) 40%,
        rgba(20,20,20,0.1) 100%
    );
}

    .banner-content{
        position: absolute;
        bottom: 40px;
        left: 40px;
    }


    .banner-content {
      position: absolute;
      bottom: 30px;
      left: 30px;
    }

    .movie-row{
      overflow-x: auto;
      white-space: nowrap;
      margin-top: 20px !important;
      padding-bottom: 20px;
       scroll-behavior:smooth;
       /* overflow-x: hidden; */
      
    }
    .movie-row::-webkit-scrollbar{
   display:none;
}
    .movie-card{
      height: 260px;
      width: 180px;
      object-fit: cover;
      /* margin-right: 20px; */
      transition:transform 1.5s ease-in-out 0.9s !important;
      display: inline-block;
      border-radius: 5px;
      cursor: pointer !important;
    }

   
    .movie-card:hover{
        
       transition: transform 0.3s ease-in-out !important;
      transform: scale(1.1) !important;
      cursor: pointer !important;
     
    }


 .recommendedMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: none;
  overflow: visible;
}

.recommended-card img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}


    .row-title {
      margin: 20px 0 10px 10px;
      font-size: 1.35rem;
      font-weight: bold;
      border-left: 5px solid red;
    }

    ::-webkit-scrollbar {
      height: 8px;
      width: 2px;
    }

    ::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 4px;
    }
  


    /* modal */
    .modal-custom{
    max-width: 900px;
}

   .modal{
   background-color: rgba(black,black,black,0.25) !important;
    }
   .modal-content {
    max-height: 90vh; 
    overflow: hidden; 
    border-radius: 16px;
    background-color: rgba(0,0,0,0.9);
}

.modal-body {
    max-height: calc(90vh - 60px);
    padding: 20px;
    scroll-behavior: smooth;
    border: none;
    overflow-y:auto !important; 
     max-height: calc(90vh - 60px);

}
   

    .modal-header{
      
      border: none;
    }
   
    .modal-footer{
      border: none;
    
    }
    .img-container{
   display:flex;
   align-items:center;
   justify-content:center;
}

    .modal-img{
      
 width: 90%;
  
  height: 100%;
 max-height:445px;
 

      object-fit:cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      border-radius:10px;
  }

  .modal.fade .modal-dialog {
  transform: scale(0.9);
  transition: all 0.25s ease;
}

.modal.show .modal-dialog {
  transform: scale(1);
}

    .bi-star-fill{
      font-size: 20px !important;
    }

/* now playing page */
/* 
div.pageimg img {


   height: 300px;
      width: 220px;
      object-fit: cover;
      margin-right: 20px;
      transition:transform 1.5s ease-in-out !important;
      display: inline-block;
      border-radius: 5px;
      cursor: pointer !important;
      margin-bottom: 40px;
      ;

} */

@media (max-width: 576px) {
  .modal-content {
    max-height: 100vh;
    border-radius: 0;
  }

  .img-container img {
    max-height: 40vh;
  }
}

@media(max-width:768px){

   .movieTitle{
      font-size:1.5rem;
      margin-top:15px;
   }

   .movieOverview{
      font-size:14px;
   }

   .modal-body{
      padding:15px;
   }

}




@media(max-width:768px){

   .movie-card{

      width:140px;
      height:210px;
      margin-right:10px;

   }
   .movie-card:hover{
      transform:scale(1.08) !important;
   }

}
@media(max-width:480px){

   .movie-card{

      width:110px;
      height:160px;

   }


}

    